.fade-text {
  display: inline-block;
}

.fade-in span {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.fade-out span {
  opacity: 1;
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}